@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e4efe7 !important;
  width: 1536px;

  font-family: "Arvo", serif !important;
}

.navbar_cart_login_socialmedia {
  gap: 0.5em;
}

.navbar_menu {
  gap: 0.3em;
}

.navbar_menu img {
  width: 60px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.navbar-nav .nav-items {
  list-style: none;
  gap: 3em;
  font-weight: bold;
}

.navbar_search .input-group {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.navbar_search input {
  outline: none;
  width: 300px;
}

.new-receipes img {
  width: 50px;
}

.receipes .receipe,
.receipes-two .receipe,
.receipes-three .receipe {
  background-color: #f9f9f9;
}
.receipes-container .receipes .receipe {
  position: relative;
}
.receipes-container-two .receipes-two .receipe {
  position: relative;
}
.receipes-container-three .receipes-three .receipe {
  position: relative;
}
.receipes-container .receipe p {
  font-size: 0.8em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;
}

.receipes .receipe .add-button {
  position: absolute;
  top: 0;
  color: #f2f4fb;
  border-radius: 50%;
  padding: 0px 20px;
  width: 40px;
  border: none;
  background-color: #443737;
}

.receipes-two .receipe .add-button {
  position: absolute;
  top: 0;
  color: #f2f4fb;
  padding: 0px 20px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #443737;
}
.receipes-three .receipe .add-button {
  top: 0;
  position: absolute;
  padding: 0px 20px;
  color: #f2f4fb;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #443737;
}

.add-button i {
  transform: translate(1px, 0.5px);
}

.add-button:hover {
  color: orange !important;
  cursor: pointer;
}

.add-button:active {
  color: darkred !important;
}
.receipe a {
  font-size: 0.8em;
}
.receipes-container-two .receipes-two {
  gap: 2em;
  display: flex;
  justify-content: space-between;
}

.container-three .peachreceipes {
  gap: 1em;
}

.latesummer-container {
  background-color: #d1e8e4;
}
.mohinga-container .image {
  position: relative;
  overflow: hidden;
}

.mohinga-container .tag {
  width: 400px;
  top: 10%;
  left: -8%;
  text-align: center;
  background-color: #931a25;
  color: #fbe2e5;

  padding: 10px;
  position: absolute;
  transform: rotate(-40deg);
}
.latesummer-container .receipes {
  gap: 5em;
  margin: 2em 0 1em 0;
}

.container-four .permesan img {
  width: 500px;
}

.star-widget i {
  color: orangered;
}

.container-five {
  background-color: #d1e8e4;
  padding: 4em 0 4em 0;
}
.container-five a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
}

.container-five a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.container-five .allreceipes {
  gap: 0.5em;
}

.container-five .cornsalad_meal {
  gap: 0.5em;
}

.container-five .first-three-receipes {
  gap: 0.5em;
}

.last-three-receipes {
  gap: 0.5em;
}

.receipes {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}

.receipes-three {
  gap: 1em;
  display: flex;
  justify-content: space-between;
}
.receipe h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.receipes-two p {
  font-size: 0.8em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;
}

.receipes-three p {
  font-size: 0.8em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;
}

.casseroles {
  position: relative;
}

.casseroles .tag {
  position: absolute;
  background-color: #a3e4db;
  font-size: 0.7em;
  top: 15%;
  left: 5%;
}

.casseroles .casseroles-text {
  width: 400px;
  height: 50vh;
  background-color: #d1e8e4;
}

.casseroles .image {
  display: flex;
  gap: 0.8em;
  position: absolute;
  left: 25%;
  top: 10%;
}

.casseroles .text {
  margin-left: 3em;
  padding-top: 5em;
  width: 250px;
}
.shop-container .btn:hover{
  border:1px solid orangered;
}
.shop-container .btn a{
  padding:5px;
  color:black;
  text-decoration: none;
}

.shop-container .btn a:hover{

  color:orangered;
}
.show-container .container .anothershows {
  text-align: center;
  height: 786px;
  overflow: hidden;
  overflow-y: scroll;
  background-color: white;
}

.show-container .container .anothershows h3 {
  font-size: 0.9em;
  font-weight: bold;
}

.show-container .container .anothershows p,
span {
  font-size: 0.8em;
}

footer {
  background-color: #5e454b;
  font-family: "IBM Plex Sans", sans-serif;
}

footer a {
  text-decoration: none;
  color: white;
}
.shop-container .coffee-machine {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4));
}

.shop-container .overlay {
  width: 100%;
  height: 880px;
  background-color: rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 0;
}

.shop-container .products {
  position: absolute;
  top: 20%;
  left: 23%;

  gap: 2em;
}
.shop-container .products img {
  width: 150px;
  border-radius: 10px;
}
.shop-container .products img + img {
  margin-left: 2em;
  margin-top: 1em;
}

.shop-container .btn {
  position: absolute;
  top: 70%;
  left: 46%;
  background-color: #f4f4f4;
}
.shop-container .btn button {
  font-size: 1.5em;
  color: black;
  background-color: transparent;
  border: none;
}
.shop-container .btn button i {
  font-size: 0.7em;
  color: red;
}
dialog {
  top: 5%;
  left: 35%;
  width: 410px;
  max-width: 100%;
  position: fixed;
  overflow: hidden;
}
form .header {
  background-color: #f7f7f7;
  padding: 20px 40px;
}
.header h2 {
  margin: 0;
}
form {
  padding: 30px 40px;
}
form .form-control {
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
}
form .form-control label {
  display: block;
  margin-bottom: 2px;
}
form .form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-family: inherit;
}

form .form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}
form .form-control small {
  visibility: hidden;
  position: absolute;
  left: 0;
}
form .form-control.error small {
  color: #e74c3c;
  visibility: visible;
}
form .submit-button button {
  background-color: #931a25;
  border: 2px solid black;
  font-family: inherit;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
}

@media (max-width: 640px) {
  
nav .navbar_cart_login_socialmedia .cart_and_login{
  display: none !important;
}
nav .social_media{
 display:none !important;
}
nav .social_media a{
  display:block!important;

}

nav a.savebookmark{
  padding-right:1em!important;
}
nav a .fa-bookmark{
  font-size:4.5em!important;
 
}

  nav .navbar_container .navbar_menu img {
    width: 200px;
  }
  nav .navbar_container p {
    display: none;
  }
  nav .navbar_container svg {
    width: 150px;
    height: 50px;
  }
  .navbar_search {
    margin-right: 4em;
  }
  .navbar_search input {
    width: 600px;
    height: 100px;
    font-size: 2.5em;
  }
  .navbar-nav {
    display: none !important;
  }

  .casseroles .image img {
    width: 50px;
  }

  .receipes-container .receipes,
  .receipes-container-two .receipes-two,
  .receipes-container-three .receipes-three {
    /* margin-right:0!important;
  margin-left:0!important; */
    display: flex;
    flex-direction: column;
  }
  .receipes-container .receipes .receipe,
  .receipes-container-two .receipes-two .receipe,
  .receipes-container-three .receipes-three .receipe {
    width: 100%;
    display: flex;
  }
.receipes-container .receipes .receipe .receipe-body,
  .receipes-container-two .receipes-two .receipe .receipe-body,
  .receipes-container-three .receipes-three .receipe .receipe-body
  {
padding:2em 4em!important;
  }
  .receipes-container .receipes .receipe .receipe-author,
  .receipes-container-two .receipes-two .receipe .receipe-author,
  .receipes-container-three .receipes-three .receipe .receipe-author {
    font-size: 2em;
  }
  .receipes-container .receipes .receipe .receipe-body h3,
  .receipes-container-two .receipes-two .receipe .receipe-body h3,
  .receipes-container-three .receipes-three .receipe .receipe-body h3 {
    font-size: 4.5em !important;
  }
  .receipes-container .receipes .receipe .receipe-body p,
  .receipes-container-two .receipes-two .receipe .receipe-body p,
  .receipes-container-three .receipes-three .receipe .receipe-body p {
    font-size: 2.3em !important;
  }
  .receipes-container .receipes .receipe .add-button,
  .receipes-container-two .receipes-two .receipe .add-button,
  .receipes-container-three .receipes-three .receipe .add-button {
    width: 150px;
    padding: 45px 0 !important;
  }
  .star-widget i {
    font-size: 2em;
  }
  .add-button i {
    font-size: 3.5em;
  }
  .container-three .peach h2 {
    font-size: 5em !important;
    text-align: center;
  }
  .container-three .peach .receipe h3 {
    font-size: 3.5em !important;
    text-align: center;
  }
  .peachreceipes {
    display: flex;
    flex-direction: column;
  }
  .latesummer-container .summer .receipes {
    display: flex;
    flex-direction: column;
  }
  .latesummer-container .summer h2 {
    font-size: 5em !important;
  }
  .latesummer-container .summer .receipes h3 {
    font-size: 3.5em !important;
    text-align: center;
  }
  .shop-container .products img {
    width: 200px;
  }
  .shop-container .btn {
    width: 200px;
    padding: 1em 0;
    font-size: 2em;
    
  }
  .mohinga-container .mohinga .tag {
    font-size: 2em;
  }
  .mohinga-container .mohinga h3 {
    font-size: 3.7em !important;
  }
  .mohinga-container .mohinga .text span {
    font-size: 1.5em !important;
  }
  .mohinga-container .mohinga .text p {
    font-size: 2em !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;
  }
  .mohinga-container .mohinga .text .rating i {
    font-size: 2em;
  }
  .container-five .trending_saladmeal {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
  }
  .container-five .trending_saladmeal .cornsalad_meal {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
  }
  .container-five .trending_saladmeal .trending {
    width: 100%;
  }
  .container-five .trending_saladmeal .trending h3 {
    font-size: 1.8em !important;
  }
  .container-six .casseroles .tag {
    font-size: 2em !important;
    top: 0;
  }
  .container-six .casseroles .casseroles-text {
    width: 100%;
    
  }
  .container-six .casseroles .casseroles-text .text h3 {
    font-size: 5em !important;
  }
  .container-six .casseroles .casseroles-text .text p {
    font-size: 2.5em !important;
  }
  .container-six .casseroles .casseroles-text .text button {
    font-size: 1.5em !important;
    width: 200px;
    padding: 2em;
  }
  .container-six .casseroles .casseroles-text .text {
    width: 100%;
    margin: 0;
    padding: 3em;
  }
  .container-six .casseroles .image {
    display: none;
  }
  .show-container .show-show {
    display: flex;

    flex-direction: column;
  }
  .show-container .show-show h2 {
    font-size: 4.6em !important;
  }
  .show-container .show-show .recent-show {
    width: 100%;
  }
  .show-container .show-show .recent-show h2 {
    font-size: 4em !important;
  }
  .show-container .show-show .anothershows div + div {
    margin-bottom: 3em;
  }
  .show-container .show-show .anothershows h3 {
    font-size: 3.5em !important;
  }
  .show-container .show-show .anothershows p {
    font-size: 3em !important;
  }

  footer .firstline,
  footer .secondline {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 3.2em;
  }
}
